.h5p-pick-the-symbols {
}

.h5p-pick-the-symbols-content {
  width: 100%;
}

.h5p-pick-the-symbols-taskDescription {
  width: 100%;
}

.h5p-pick-the-symbols-text-container {
  width: 100%;
  padding: 0.5em 0 0 0;
  position: relative;
}

.h5p-pick-the-symbols-text {
  width: 100%;
}

.h5p-pick-the-symbols-blank-group {
  display: inline-block;
}

.h5p-pick-the-symbols-blank-group .h5p-pick-the-symbols-blank-container:first-child {
  margin-left: 0;
}

.h5p-pick-the-symbols-blank-container {
  margin-left: .125em;
  position: relative;
}

.h5p-pick-the-symbols-blank {
  border-radius: 0.25em;
  display: inline-block;
  margin-bottom: 0.5em;
  padding: .15em;
  position: relative;
  width: 1em;
}

.h5p-pick-the-symbols-blank.h5p-pick-the-symbols-blank-state-correct {
  background-color: #9dd8bb;
  color: #255c41;
  width: auto;
}

.h5p-pick-the-symbols-blank.h5p-pick-the-symbols-blank-state-correct .h5p-pick-the-symbols-blank-answer::after {
  color: #255c41;
  content: "\F00C";
  font-family: H5PFontAwesome4;
  padding-left: .25em;
  right: .5em;
  top: 0;
}

.h5p-pick-the-symbols-blank.h5p-pick-the-symbols-blank-state-wrong {
  background-color: #f7d0d0;
  color: #b71c1c;
  width: auto;
}

.h5p-pick-the-symbols-blank.h5p-pick-the-symbols-blank-state-wrong:not(.h5p-pick-the-symbols-empty-answer) .h5p-pick-the-symbols-blank-answer {
  text-decoration: line-through;
}

.h5p-pick-the-symbols-blank.h5p-pick-the-symbols-blank-state-wrong::after {
  color: #b71c1c;
  content: "\F00D";
  font-family: H5PFontAwesome4;
  padding-left: .25em;
  right: .5em;
  top: 0;
}

.h5p-pick-the-symbols-blank-correct-answer {
  background-color: #d4f6e6;
  border: 1px #255c41 dashed;
  border-radius: 0.25em;
  color: #255c41;
  display: none;
  font-weight: bold;
  margin: 0 0.25em;
  padding: 0.15em;
}

.h5p-pick-the-symbols-text-container:not(.h5p-pick-the-symbols-disabled) .h5p-pick-the-symbols-blank:hover {
  cursor: pointer;
}

.h5p-pick-the-symbols-overlay-outer-wrapper {
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 0.5em 0 rgba(105, 105, 105, 0.4);
  opacity: 1;
  position: absolute;
  top: 0;
  transition: opacity 1s;
  visibility: visible;
  z-index: 10;
}

.h5p-pick-the-symbols-overlay-content {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5em 0.5em 0.25em 0.5em;
  height: 100%;
}

.h5p-pick-the-symbols-overlay-marker {
  background: #fff;
  box-shadow: 0 0 0.5em 0 rgba(105, 105, 105, 0.4);
  height: 10px;
  position: absolute;
  top: -5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 8px;
  z-index: -1;
}

.h5p-pick-the-symbols-overlay-button-close {
  background: #fff;
  position: absolute;
  top: -1.1em;
  right: -1.1em;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  padding: 3px;
  line-height: 1;
  color: #bd3e3e;
  z-index: 3;
}

.h5p-pick-the-symbols-overlay-button-close:after {
  font-family: 'H5PFontAwesome4';
  content: '\f00d';
  border: 1px solid #bd3e3e;
  text-align: center;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  line-height: 1.5;
}

.h5p-pick-the-symbols-chooser-symbol-buttons button {
  background: linear-gradient(to bottom,#fff 0,#f2f2f2 100%);
  border: 1px solid #ccc;
  border-radius: 0.25em;
  color: #494949;
  height: 2em;
  margin: 0 0.25em 0.25em 0;
  padding: 0;
  width: 2em;
}

.h5p-pick-the-symbols-chooser-symbol-buttons button:first-child {
  margin: 0 0.25em 0.25em 0;
}

.h5p-pick-the-symbols-chooser-symbol-buttons button:last-child {
  margin: 0 0 0.25em 0;
}

.h5p-pick-the-symbols-overlay-outer-wrapper button.active {
  background-color: #104888;
}

.h5p-pick-the-symbols-chooser-symbol-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.h5p-pick-the-symbols-chooser-blank-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.8em;
  justify-content: space-between;
  padding-top: 0.25em;
}

.h5p-pick-the-symbols-chooser-blank-buttons button.h5p-joubelui-button {
  margin: 0 0.5em 0 0;
}

.h5p-pick-the-symbols-chooser-blank-buttons button.h5p-joubelui-button:last-child {
  margin: 0;
}

.h5p-pick-the-symbols-chooser-symbol-buttons button.h5p-pick-the-symbols-chooser-button-trailing {
  margin-right: 0;
}

.h5p-pick-the-symbols-chooser-blank-buttons button.h5p-pick-the-symbols-add-blank:disabled {
  background: #cccccc;
  cursor: auto;
}

.h5p-pick-the-symbols-chooser-blank-buttons button.h5p-pick-the-symbols-remove-blank:disabled {
  background: #cccccc;
  cursor: auto;
}

.h5p-pick-the-symbols-chooser-blank-buttons button.h5p-pick-the-symbols-add-blank::before {
  content: "\f067";
}

.h5p-pick-the-symbols-chooser-blank-buttons button.h5p-pick-the-symbols-remove-blank::before {
  content: "\f068";
}

.h5p-pick-the-symbols-invisible {
  opacity: 0;
  visibility: hidden;
}

.h5p-pick-the-symbols-none {
  display: none;
}

.h5p-question-continue:before {
  content: "\F0E2";
}
