.h5p-pick-the-symbols {
}

.h5p-pick-the-symbols-content {
  width: 100%;
}

.h5p-pick-the-symbols-taskDescription {
  width: 100%;
}

.h5p-pick-the-symbols-ruler {
  border-bottom: 2px solid #eee;
  width: 100%;
}

.h5p-pick-the-symbols-text-container {
  width: 100%;
  padding: 0.5em 0 0 0;
  position: relative;
}

.h5p-pick-the-symbols-text {
  width: 100%;
}

.h5p-pick-the-symbols-blank-group {
  display: inline;
}

.h5p-pick-the-symbols-blank-group .h5p-pick-the-symbols-blank-container:first-child {
  margin-left: 0;
}

.h5p-pick-the-symbols-blank-container {
  margin-left: .125em;
  position: relative;
}

.h5p-pick-the-symbols-blank {
  border-radius: 0.25em;
  display: inline-block;
  margin-bottom: 0.5em;
  padding: .15em;
  position: relative;
  width: 1em;
}

.h5p-pick-the-symbols-blank.h5p-pick-the-symbols-blank-state-correct {
  background-color: #9dd8bb;
  color: #255c41;
  width: auto;
}

.h5p-pick-the-symbols-blank.h5p-pick-the-symbols-blank-state-correct .h5p-pick-the-symbols-blank-answer::after {
  color: #255c41;
  content: "\F00C";
  font-family: H5PFontAwesome4;
  padding-left: .25em;
  right: .5em;
  top: 0;
}

.h5p-pick-the-symbols-blank.h5p-pick-the-symbols-blank-state-wrong {
  background-color: #f7d0d0;
  color: #b71c1c;
  width: auto;
}

.h5p-pick-the-symbols-blank.h5p-pick-the-symbols-blank-state-wrong:not(.h5p-pick-the-symbols-empty-answer) .h5p-pick-the-symbols-blank-answer {
  text-decoration: line-through;
}

.h5p-pick-the-symbols-blank.h5p-pick-the-symbols-blank-state-wrong::after {
  color: #b71c1c;
  content: "\F00D";
  font-family: H5PFontAwesome4;
  padding-left: .25em;
  right: .5em;
  top: 0;
}

.h5p-pick-the-symbols-blank-correct-answer {
  background-color: #d4f6e6;
  border: 1px #255c41 dashed;
  border-radius: 0.25em;
  color: #255c41;
  display: none;
  font-weight: bold;
  margin: 0 0.25em;
  padding: 0.15em;
}

.h5p-pick-the-symbols-text-container:not(.h5p-pick-the-symbols-disabled) .h5p-pick-the-symbols-blank:hover {
  cursor: pointer;
}

.h5p-pick-the-symbols-overlay-outer-wrapper {
  background-color: rgba(200, 200, 200, 0.9);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.75em;
  opacity: 1;
  padding: 0.5em 0.5em 0.25em 0.5em;
  position: absolute;
  top: 0;
  transition: opacity 1s;
  visibility: visible;
  z-index: 10;
}

.h5p-pick-the-symbols-overlay-outer-wrapper button {
  border-radius: 0.25em;
  font-weight: bold;
  height: 2em;
  margin: 0 0.25em 0.25em 0;
  padding: 0;
  width: 2em;
}

.h5p-pick-the-symbols-overlay-outer-wrapper button:first-child {
  margin: 0 0.25em 0.25em 0;
}

.h5p-pick-the-symbols-overlay-outer-wrapper button:last-child {
  margin: 0 0 0.25em 0;
}

.h5p-pick-the-symbols-overlay-outer-wrapper button.active {
  background-color: #104888;
}

.h5p-pick-the-symbols-chooser-blank-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 0.25em;
}

.h5p-pick-the-symbols-chooser-blanks-button {
  background: #60c285;
}

.h5p-pick-the-symbols-chooser-blanks-button:hover,
.h5p-pick-the-symbols-chooser-blanks-button:focus {
  background: #54a36e;
}

.h5p-pick-the-symbols-chooser-blanks-button:active {
  background: #4e8441;
  box-shadow: inset 0 4px 0 #477d38;
}

.h5p-pick-the-symbols-chooser-blanks-button.h5p-pick-the-symbols-disabled {
  color: #bbbbbb;
  background: #666666;
  cursor: inherit;
}

.h5p-pick-the-symbols-chooser-blanks-button.h5p-pick-the-symbols-disabled:hover,
.h5p-pick-the-symbols-chooser-blanks-button.h5p-pick-the-symbols-disabled:focus {
  background: #666666;
}

.h5p-pick-the-symbols-chooser-blanks-button.h5p-pick-the-symbols-disabled:active {
  background: #666666;
  box-shadow: inset 0 4px 0 #666666;
}

.h5p-pick-the-symbols-invisible {
  opacity: 0;
  visibility: hidden;
}

.h5p-pick-the-symbols-none {
  display: none;
}
