.h5p-pick-the-symbols {
}

.h5p-pick-the-symbols-content {
  width: 100%;
}

.h5p-pick-the-symbols-taskDescription {
  width: 100%;
}

.h5p-pick-the-symbols-ruler {
  border-bottom: 2px solid #eee;
  width: 100%;
}

.h5p-pick-the-symbols-text {
  margin: 1em 0;
  width: 100%;
}

.h5p-pick-the-symbol-blank {
  border-radius: 0.25em;
  display: inline-block;
  height: 1em;
  vertical-align: text-top;
  width: 1em;
}

.h5p-pick-the-symbol-blank:hover {
  cursor: pointer;
}
